@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    font-size: inherit;
    transition: 5000s ease-in-out 0s;
}
